body {
    line-height: 1;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    /* custom font */
    font-family: 'Prosto One', cursive;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 5%;
}

.family-intro {
    margin-bottom: 4%;
    text-align: center;
}

.family-pic {
    display: inline-block;
    width: 30%;
}

.family {
    display: inline-block;
    width: 50%;
}

.chinook-pic {
    display: inline-block;
    max-width: 30%;
}

table {
    border-spacing: 12px;
    border: 1px solid salmon;
}

tr:nth-child(even) {
    background-color: #c2bfbf;
}

th, td {
    padding: 15px;
    text-align: left;
}
