* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: bisque;
}

h1 {
    /* custom font */
    font-family: 'Prosto One', cursive;
    text-align: center;
    font-size: 4vw;
}

nav {
    text-align: center;
    width: 30%;
}
.main-fish {
    margin: 0 auto;
    text-align: justify;
    width: 95%;
}

.intro {
    display: inline-block;
    max-width: 50%;
}


.shop-awning {
    margin-bottom: -20%;
    margin-top: -13%;
    width: 100%;
}

.fish {
    vertical-align: top;
    width: 35%;
}

.salmon-pic {
    margin-right: 6%;
}

.shop-content {
    max-width: 30%;
    display: inline-block;
    margin-left: 1.75%;
}

figcaption {
    font-size: 1vw;
}
